@page "/project/{ProjectId:int}"


@rendermode InteractiveServer
@attribute [Authorize(Roles = $"{nameof(UserRoles.Admin)},{nameof(UserRoles.Manager)},{nameof(UserRoles.User)}")]
<PageTitle>Home</PageTitle>
<AuthorizeView>
    <Authorized>

        <div style="text-align: center; font-size: larger;">
            <strong>
                <RadzenBadge Shade="Shade.Default" Variant="Variant.Outlined">
                    @Loc["Welcome"], @UserService.GetCurrentUserInfoAsync().Result.UserName!
                </RadzenBadge>
            </strong>
        </div>


        <div>
            <Dashboard ProjectId="ProjectId"/>
        </div>

        <ProjectTree ProjectId="ProjectId"/>
        
    </Authorized>
</AuthorizeView>


@code {
    [Parameter] public int ProjectId { get; set; }


    private int _testExecutionsReady;

    protected override async Task OnInitializedAsync()
    {
        _testExecutionsReady = await TestExecutionModel.GetTestExecutionsReadyToExecuteAsync(ProjectId);
    }


}