@inject DialogService DialogService

<div style="position: fixed; bottom: 60px; right: 10px; z-index: 1000;">
    <RadzenButton Icon="menu" ButtonStyle="ButtonStyle.Secondary" Click="@OpenSideDialog"/>
</div>

@code {

    async Task OpenSideDialog()
    {
        // Hardcoding options for right position, mask enabled, and close on overlay click
        await DialogService.OpenSideAsync<ProjectTreeOverview>(
            "Side Panel",
            options: new SideDialogOptions
            {
                CloseDialogOnOverlayClick = true,
                Position = DialogPosition.Right,
                ShowMask = true
            });
    }

}