@page "/integrations/edit/{Id:int}"
@attribute [Authorize]
@rendermode InteractiveServer
@inject ILogger<Edit> Logger
@attribute [Authorize(Roles = "Admin , Manager")]

<AlertTitle TitleText=@($"Editing Integration {Id}")/>


<RadzenTemplateForm Data="_integrations" TItem="Integrations" Submit="UpdateIntegration">
    <ValidationSummary class="alert alert-danger"/>

    <RadzenFieldset Text="Integration details">
        <div class="form-group mb-4">
            <RadzenLabel Text="Base Url"/>
            <RadzenTextBox id="base-url"
                           @bind-Value="_integrations.BaseUrl"
                           class="input-style"
                           Name="name"/>
            <RadzenRequiredValidator Component="name" Text="Base URL is required"/>
        </div>

        <div class="form-group mb-4">
            <RadzenLabel Text="Username"/>
            <RadzenTextBox id="username"
                           @bind-Value="_integrations.Username"
                           class="input-style"
                           Name="name"/>
            <RadzenRequiredValidator Component="name" Text="Base URL is required"/>
        </div>

        <div class="form-group mb-4">
            <RadzenLabel Text="Api Key"/>
            <RadzenTextBox id="apikey"
                           @bind-Value="_integrations.ApiKey"
                           class="input-style"
                           Name="apikey"/>
            <RadzenRequiredValidator Component="apikey" Text="API KEY is required"/>
        </div>
        
        <div class="form-group mb-4">
            <RadzenLabel Text="API Integration unique Key"/>
            <RadzenTextBox id="uniquekey"
                           @bind-Value="_integrations.UniqueKey"
                           Placeholder="Put here your unique string for example Jira-01"
                           class="input-style"
                           Name="uniquekey"/>
            <RadzenRequiredValidator Component="uniquekey" Text="Unique KEY is required"/>
        </div>

        <div class="form-group mb-4">
            <RadzenLabel Text="Integration Type"/>
            <RadzenDropDown id="integration-type"
                            @bind-Value="_integrations.IntegrationType"
                            Data="EnumService.GetEnumValues<IntegrationType>()"
                            class="input-style"
                            Name="integration-type"/>
            <RadzenRequiredValidator Component="integration-type" Text="Integration Type is required"/>
        </div>
        
        <div class="form-group mb-4">
            <RadzenLabel Text="Projects"/>
            <RadzenDropDown id="project-id"
                            @bind-Value="_integrations.ProjectsId"
                            Data="@_projectsList"
                            TextProperty="Name"
                            ValueProperty="Id"
                            class="input-style"
                            Name="project-id"/>
            <RadzenRequiredValidator Component="project-id" Text="Project is required"/>
        </div>
    </RadzenFieldset>


    <CreateEditActions EntityName="integrations" CreateEdit="Update"/>
</RadzenTemplateForm>


@code {
    [Parameter] public int Id { get; set; }
    private Integrations _integrations = new();
    private List<Projects> _projectsList = [];

    protected override async Task OnInitializedAsync()
    {
        _integrations = await IntegrationsModel.GetIntegrationByIdAsync(Id);
        _projectsList = await ProjectModel.GetProjects();

    }

    private async Task UpdateIntegration()
    {
        await IntegrationsModel.UpdateIntegration(_integrations);
        NavigationManager.NavigateTo("/integrations");
        await FormNotificationService.NotifySuccess("Integration updated successfully");
        Logger.LogInformation("Integration was updated");
    }

}