@attribute [Authorize(Roles = "Admin, Manager")]
<RadzenButton Icon="csv" Click="OpenFileUpload"
              Visible="UiUserVisibility.IsAuthorized()"
              Variant="Variant.Outlined"
              MouseEnter="@(args => AppTooltipService.ShowTooltip(args, "Upload test Plans data from csv"))"
              MouseLeave="@AppTooltipService.HideTooltip"/>

@code {
    [EditorRequired] [Parameter] public int ProjectId { get; set; }

    /// <summary>
    /// Event callback to be invoked when the upload is completed. It will refresh the page on parent component.
    /// </summary>
    [Parameter]
    public EventCallback OnUploadCompleted { get; set; }

    private async Task OpenFileUpload()
    {
        var result = await DialogService.OpenAsync($"Import {nameof(TestPlans)} from CSV", ds =>
                @<RadzenStack Orientation="Orientation.Vertical">
                    <RadzenFieldset Text="Expected CSV format" Style="margin-bottom: 15px">
                        <table style="width:100%; border-collapse: collapse; font-size:14px; text-align:left;">
                            <thead style="background-color:#f5f5f5;">
                            <tr>
                                <th style="padding:6px; border:1px solid #ddd;">Name</th>
                                <th style="padding:6px; border:1px solid #ddd;">Description</th>
                                <th style="padding:6px; border:1px solid #ddd;">Priority</th>
                                <th style="padding:6px; border:1px solid #ddd;">Cycles</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="padding:6px; border:1px solid #ddd;">My Test Case</td>
                                <td style="padding:6px; border:1px solid #ddd;">My Description</td>
                                <td style="padding:6px; border:1px solid #ddd;">High</td>
                                <td style="padding:6px; border:1px solid #ddd;">Cycle x</td>

                            </tr>
                            </tbody>
                        </table>

                        <div style="margin-top:10px; font-size:12px; color:gray;">
                            ⚠️ Ensure your CSV file includes these columns in the same order separated by commas.
                            <br/>
                            ⚠️ If Test Plan already exists with same Name, it will be skipped.
                        </div>
                    </RadzenFieldset>
                    <RadzenUpload ChooseText="Choose CSV" Accept=".csv" Style="width: 100%" Icon="upload"
                                  Change="@(ManageCsvUpload.SaveFileContent)"/>
                    <RadzenButton Text="Submit" Icon="check"
                                  Click="() => ManageCsvUpload.ProcessTestPlansCsvFile(OnUploadCompleted, ProjectId)"
                                  Style="margin-top: 10px;"/>
                </RadzenStack>
            , new DialogOptions { CloseDialogOnOverlayClick = true, Draggable = true, CloseDialogOnEsc = true });
    }





}