<div class="form-group mb-4">
    <RadzenLabel Text="Upload Files"/>
            <RadzenUpload
                data-testid="fileupload"
                Multiple="true" Icon="upload" Change="@HandleFileSelected" Style="width: 100%"/>
</div>

@code{

    /// <summary>
    ///     List of uploaded files using IBrowserFile
    /// </summary>
    [Parameter]
    public List<IBrowserFile>? UploadedFiles { get; set; }

    private const int MaxFileSize = 10 * 1024 * 1024; // 10MB

    private void HandleFileSelected(UploadChangeEventArgs args)
    {
        if (UploadedFiles == null) return;
        UploadedFiles.Clear();

        foreach (var file in args.Files)
        {
            switch (file.Size)
            {
                case <= MaxFileSize:
                    UploadedFiles.Add(file);
                    break;
                case > MaxFileSize:
                    FormNotificationService.NotifyError($"{file.Name} Exceeds 10MB and will not be added");
                    break;
            }
        }
    }

}