@attribute [Authorize]

<RadzenDataGrid Data="@TestSteps" TItem="TestSteps" Style="margin-top: 10px;">
    <HeaderTemplate>
        <h4 class="text-center text-primary mb-4">View Test Steps</h4>
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn Property="@nameof(Data.TestSteps.Number)" Title="Step Number"/>
        <RadzenDataGridColumn Property="@nameof(Data.TestSteps.Description)" Title="Description"/>
        <RadzenDataGridColumn Property="@nameof(Data.TestSteps.ExpectedResult)" Title="Expected Result"/>
    </Columns>
</RadzenDataGrid>

@code {
    private IEnumerable<TestSteps>? TestSteps { get; set; }
    [EditorRequired] [Parameter] public int Id { get; set; }


    private IEnumerable<TestSteps> SortedTestSteps => TestSteps?.OrderBy(ts => ts.Number) ?? Enumerable.Empty<TestSteps>();


    protected override async Task OnInitializedAsync()
    {
        TestSteps = await TestCasesModel.GetTestStepsForTestCaseAsync(Id);
    }


}